/* Extra small devices */
@media only screen and (min-width: 320px) and (max-width: 575.98px) {
  .tablets {
    display: none;
  }

  /* hero-section start */

  .hero-section {
    height: 435px;
    background-image: url(../asset/images/mobile-img-1.jpg);
    background-repeat: no-repeat;
    background-size: 670px 430px;
  }
  .hero-section .left {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .hero-section .left .texts h1 {
    color: white;
    font-size: 40px;
  }
  .hero-section .left .texts p {
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 260px;
  }

  .hero-section .left .btn {
    padding: 11px 27px;
    font-size: 17px;
    margin-right: 20px;
  }

  .hero-section .left .btn1 {
    padding: 11px 27px;
    font-size: 17px;
  }

  .hero-section .right {
    display: none;
  }

  /* hero-section end */

  /* gallary section start */

  .gallary-section {
    padding: 110px 40px 50px;
    grid-template-columns: auto auto;
  }

  .gallary-section h3 {
    font-size: 44px;
    margin: 0 auto;
  }

  .gallary-h3-br {
    display: none;
  }

  .gallary-section .images {
    display: grid;
    gap: 13px;
  }

  .gallary-section .images img {
    width: 139px;
    height: 149px;
    object-fit: cover;
    border-radius: 16px;
  }

  .gallary-section .h3-1 {
    grid-column: 1/3;
    font-size: 25px;
    margin-bottom: 17px;
    line-height: 2;
  }

  .gallary-section .images .h3-1::after {
    content: "";
    background-color: white;
    width: 80%;
    height: 3px;
    display: block;
    margin: 0 auto;
  }

  .gallary-section .coffee-img-1 {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .gallary-section .coffee-img-2 {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .gallary-section .coffee-img-3 {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .gallary-section .coffee-img-4 {
    display: none;
  }
  .gallary-section .coffee-img-5 {
    grid-column: 2/2;
    grid-row: 3/3;
  }
  .gallary-section .coffee-img-6 {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .gallary-section .coffee-img-7 {
    grid-column: 2/2;
    grid-row: 4/4;
  }

  .gallary-section .h3-2 {
    grid-column: 1/3;
    grid-row: 5/5;
    margin-top: 7px;
    font-size: 30px;
    line-height: 2;
  }

  .gallary-section .images .h3-2::after {
    content: "";
    background-color: white;
    width: 80%;
    height: 3px;
    display: block;
    margin: 0 auto;
  }

  .achivement {
    width: 100%;
    padding: 7px;
    justify-content: space-around;
    top: 3%;
    left: 0%;
    transform: translate(0%, -50%);
    background-color: #ecdac4;
    border-radius: 0;
  }

  .achivement h4 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .achivement p {
    font-size: 11px;
    font-weight: 500;
  }

  /* gallary-section end */
}

/* Small devices */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .tablets {
    display: none;
  }
  /* hero-section start */

  .hero-section {
    height: 70vh;
    background-image: url(../asset/images/mobile-img-1.jpg);
    background-repeat: no-repeat;
    background-size: 800px 560px;
  }
  .hero-section .left {
    width: 100%;
    margin: 0;
    padding: 30px;
  }

  .hero-section .left .texts h1 {
    color: white;
    font-size: 60px;
  }
  .hero-section .left .texts p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    width: 300px;
  }

  .hero-section .left .btn {
    padding: 11px 27px;
    font-size: 17px;
    margin-right: 20px;
  }

  .hero-section .left .btn1 {
    padding: 11px 27px;
    font-size: 17px;
  }

  .hero-section .right {
    display: none;
  }

  /* hero-section end */

  /* gallary section start */

  .gallary-section {
    padding: 160px 35px 50px;
    grid-template-columns: auto auto;
  }

  .gallary-section h3 {
    font-size: 44px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1;
    margin: 0 auto;
  }

  .gallary-h3-br {
    display: none;
  }

  .gallary-section .images {
    display: grid;
    gap: 18px;
  }

  .gallary-section .images img {
    width: 243px;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
  }

  .gallary-section .h3-1 {
    grid-column: 1/3;
    grid-row: 1/1;
    font-size: 41px;
    margin-bottom: 17px;
    line-height: 2;
  }

  .gallary-section .images .h3-1::after {
    width: 80%;
    height: 3px;
    margin: 0 auto;
  }

  .gallary-section .coffee-img-1 {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .gallary-section .coffee-img-2 {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .gallary-section .coffee-img-3 {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .gallary-section .coffee-img-4 {
    display: none;
  }
  .gallary-section .coffee-img-5 {
    grid-column: 2/2;
    grid-row: 3/3;
  }
  .gallary-section .coffee-img-6 {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .gallary-section .coffee-img-7 {
    grid-column: 2/2;
    grid-row: 4/4;
  }

  .gallary-section .h3-2 {
    grid-column: 1/3;
    grid-row: 5/5;
    margin-top: 17px;
    line-height: 2;
  }

  .gallary-section .images .h3-2::after {
    width: 70%;
    height: 3px;
    margin: 0 auto;
  }

  .achivement {
    width: 100%;
    padding: 13px;
    justify-content: space-around;
    top: 3%;
    left: 0%;
    transform: translate(0%, -50%);
    background-color: #ecdac4;
    border-radius: 0;
  }

  /* gallary-section end */
}

/* Medium devices */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  section {
    display: none;
  }
  .tablets {
    font-size: 30px;
  }
}

/* Large devices */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .tablets {
    display: none;
  }
  /* hero-section start */
  .hero-section .left {
    width: 40%;
    margin: 157px 0 200px 60px;
  }

  .hero-section .right .coffee-img_1 {
    top: 90px;
    right: 150px;
    width: 410px;
  }
  .hero-section .right .coffee-img_2 {
    top: 367px;
    right: 55px;
    width: 245px;
  }
  /* hero-section end */

  /* gallary section start */

  .gallary-section {
    padding: 160px 35px 50px;
    grid-template-columns: auto auto;
  }

  .gallary-section h3 {
    font-size: 44px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1;
    margin: 0 auto;
  }

  .gallary-h3-br {
    display: none;
  }

  .gallary-section .images {
    display: grid;
    gap: 18px;
  }

  .gallary-section .images img {
    width: 243px;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
  }

  .gallary-section .h3-1 {
    grid-column: 1/4;
    grid-row: 1/1;
    font-size: 41px;
    margin-bottom: 17px;
    line-height: 2;
  }

  .gallary-section .images .h3-1::after {
    width: 80%;
    height: 3px;
    margin: 0 auto;
  }

  .gallary-section .coffee-img-1 {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .gallary-section .coffee-img-2 {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .gallary-section .coffee-img-3 {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  .gallary-section .coffee-img-4 {
    display: none;
  }
  .gallary-section .coffee-img-5 {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .gallary-section .coffee-img-6 {
    grid-column: 2/2;
    grid-row: 3/3;
  }
  .gallary-section .coffee-img-7 {
    grid-column: 3/3;
    grid-row: 3/3;
  }

  .gallary-section .h3-2 {
    grid-column: 1/4;
    grid-row: 5/5;
    margin-top: 17px;
    line-height: 2;
  }

  .gallary-section .images .h3-2::after {
    width: 70%;
    height: 3px;
    margin: 0 auto;
  }

  .achivement {
    width: 75%;
    justify-content: space-around;
    padding: 15px 80px;
  }

  /* gallary section end */
}

/* Large devices + i guess */
@media only screen and (min-width: 1200px) and (max-width: 1380.98px) {
  .tablets {
    display: none;
  }

  .gallary-section {
    grid-template-columns: auto auto auto auto auto;
  }

  .gallary-section .images img {
    width: 215px;
  }
  .hero-section .left {
    margin: 137px 0 186px 110px;
  }
}

/* Extra large devices */
@media only screen and (min-width: 1381px) {
  .tablets {
    display: none;
  }

  .container {
    width: 1360px;
    margin: 0 auto;
  }
}

body {
  /* Push the whole site down so the sticky ad doesn't cover your content */
  padding-top: 60px;
}

@media (max-width: 480px) {
  body {
    padding-top: 50px; /* Slightly less for mobile screens */
  }
}
