@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

/* hero section start */

.hero-section {
  display: flex;
}

.hero-section .left {
  width: 40%;
  margin: 157px 0 186px 126px;
}

.hero-section .left .texts h1 {
  font-size: 64px;
  font-weight: 700;
  color: #363031;
  margin-bottom: 32px;
}

.hero-section .left .texts p {
  font-size: 24px;
  margin-bottom: 32px;
  color: #363031;
}

.hero-section .left .btn {
  padding: 24px 48px;
  border-radius: 9999px;
  background-color: #a36a4f;
  border: none;
  font-size: 23px;
  color: #ffffff;
}

.hero-section .left .btn a{
  color: white;
  text-decoration: none;
}

.hero-section .right {
  width: 60%;
  position: relative;
}

.hero-section .right .coffee-img_1 {
  border-radius: 50%;
  position: absolute;
  top: 64px;
  right: 270px;
}
.hero-section .right .coffee-img_2 {
  border-radius: 50%;
  position: absolute;
  top: 344px;
  right: 117px;
}

/* hero section end */

/* gallary-section start */

.gallary-section {
  padding: 232px 64px 104px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rgba(54, 48, 50, 80%);
  justify-content: center;
  position: relative;
}

.gallary-section h3 {
  font-size: 44px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1;
}

.gallary-section .images {
  display: grid;
  gap: 16px;
}

.gallary-section .images img {
  width: 232px;
}

.gallary-section .h3-1 {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: center;
}

.gallary-section .images .h3-1::after {
  content: "";
  background-color: white;
  width: 80%;
  height: 3px;
  display: block;
  margin-top: 24px;
}

.gallary-section .coffee-img-1 {
  grid-column: 2/2;
  grid-row: 1/1;
}
.gallary-section .coffee-img-2 {
  grid-column: 1/1;
  grid-row: 2/2;
}
.gallary-section .coffee-img-3 {
  grid-column: 2/2;
  grid-row: 2/2;
}
.gallary-section .coffee-img-4 {
  grid-column: 3/3;
  grid-row: 1/3;
}
.gallary-section .coffee-img-5 {
  grid-column: 4/4;
  grid-row: 1/1;
}
.gallary-section .coffee-img-6 {
  grid-column: 4/4;
  grid-row: 2/2;
}
.gallary-section .coffee-img-7 {
  grid-column: 5/5;
  grid-row: 1/1;
}

.gallary-section .h3-2 {
  grid-column: 5/5;
  grid-row: 2/2;
}

.gallary-section .images .h3-2::after {
  content: "";
  background-color: white;
  width: 70%;
  height: 3px;
  display: block;
  margin-top: 24px;
}

.achivement {
  width: 57%;
  padding: 24px 95px;
  display: flex;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecdac4;
  border-radius: 9999px;
  font-family: "Poppins", serif;
}

.achivement .left,
.achivement .middle {
  margin-right: 88px;
}

.achivement .icon img {
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 35%);
}

.achivement h4 {
  font-size: 32px;
  font-weight: 600;
  color: #363031;
  margin-bottom: 8px;
}
.achivement p {
  color: #363031;
}

/* gallary-section end */
