* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head-text {
  display: flex;
  justify-content: center;
  margin: 15px;
  color: rgb(3, 131, 88);
}

.hero-area {
  display: flex;
  padding: 10px;
}

.hero-area p {
  background-color: red;
  color: white;
  padding: 5px;
}

.hero-area h4 {
  background-color: red;
  color: white;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
}

.hero-area button {
  padding: 15px 14px;
  background-color: white;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 45px;
  right: 7px;
  font-size: 17px;
}

.all-images {
  width: 100%;
  height: 470px;
  display: block;
  border: 1px solid red;
}

.img-1 {
  width: 25%;
  margin: 10px;
  position: relative;
}

.img-2 {
  width: 25%;
  margin: 10px;
  position: relative;
}

.img-3 {
  width: 25%;
  height: 77%;
  margin: 10px;
  position: relative;
  top: 40px;
}

.short-img-3 {
  height: 77%;
}

.img-4 {
  width: 25%;
  height: 90%;
  margin: 10px;
  position: relative;
  top: 8px;
}

.short-img-4 {
  height: 450px;
}